# **Sprint 3** - Tasca 5: Exploració de les dades

## Exercici 1

In [13]:
import pandas as pd

# formatem els floats per visualitzar millor la sortida dels metodes descriptius
pd.set_option('display.float_format', lambda x: '%.2f' % x)

flights = pd.read_csv("DelayedFlights.csv")

In [14]:
flights.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.00,1955,2211.00,2225,WN,...,4.00,8.00,0,N,0,nan,nan,nan,nan,nan
1,1,2008,1,3,4,754.00,735,1002.00,1000,WN,...,5.00,10.00,0,N,0,nan,nan,nan,nan,nan
2,2,2008,1,3,4,628.00,620,804.00,750,WN,...,3.00,17.00,0,N,0,nan,nan,nan,nan,nan
3,4,2008,1,3,4,1829.00,1755,1959.00,1925,WN,...,3.00,10.00,0,N,0,2.00,0.00,0.00,0.00,32.00
4,5,2008,1,3,4,1940.00,1915,2121.00,2110,WN,...,4.00,10.00,0,N,0,nan,nan,nan,nan,nan

In [15]:
flights.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unnamed: 0         1936758 non-null  int64
 1   Year               1936758 non-null  int64
 2   Month              1936758 non-null  int64
 3   DayofMonth         1936758 non-null  int64
 4   DayOfWeek          1936758 non-null  int64
 5   DepTime            1936758 non-null  float64
 6   CRSDepTime         1936758 non-null  int64
 7   ArrTime            1929648 non-null  float64
 8   CRSArrTime         1936758 non-null  int64
 9   UniqueCarrier      1936758 non-null  object
 10  FlightNum          1936758 non-null  int64
 11  TailNum            1936753 non-null  object
 12  ActualElapsedTime  1928371 non-null  float64
 13  CRSElapsedTime     1936560 non-null  float64
 14  AirTime            1928371 non-null  float64
 15  ArrDelay           1928371 non-null  float64
 16  DepDelay           1936758 non-null  float64
 17  Origin             1936758 non-null  object
 18  Dest               1936758 non-null  object
 19  Distance           1936758 non-null  int64
 20  TaxiIn             1929648 non-null  float64
 21  TaxiOut            1936303 non-null  float64
 22  Cancelled          1936758 non-null  int64
 23  CancellationCode   1936758 non-null  object
 24  Diverted           1936758 non-null  int64
 25  CarrierDelay       1247488 non-null  float64
 26  WeatherDelay       1247488 non-null  float64
 27  NASDelay           1247488 non-null  float64
 28  SecurityDelay      1247488 non-null  float64
 29  LateAircraftDelay  1247488 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [16]:
flights.shape

(1936758, 30)

In [17]:
flights.isnull().sum()

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [18]:
flights=flights[['Year','Month','DayofMonth','DayOfWeek','CRSDepTime','UniqueCarrier', 'TailNum', 'AirTime','ArrDelay','DepDelay','Origin','Dest','Distance','Cancelled', 'Diverted','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay']]

flights.shape

(1936758, 20)

## Exercici 2

In [19]:
# Resumeix estadísticament les columnes d’interès
flights.describe()

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1936758.00,1936758.00,1936758.00,1936758.00,1936758.00,1928371.00,1928371.00,1936758.00,1936758.00,1936758.00,1936758.00,1247488.00,1247488.00,1247488.00,1247488.00,1247488.00
mean,2008.00,6.11,15.75,3.98,1467.47,108.28,42.20,43.19,765.69,0.00,0.00,19.18,3.70,15.02,0.09,25.30
std,0.00,3.48,8.78,2.00,424.77,68.64,56.78,53.40,574.48,0.02,0.06,43.55,21.49,33.83,2.02,42.05
min,2008.00,1.00,1.00,1.00,0.00,0.00,-109.00,6.00,11.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,2008.00,3.00,8.00,2.00,1135.00,58.00,9.00,12.00,338.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,2008.00,6.00,16.00,4.00,1510.00,90.00,24.00,24.00,606.00,0.00,0.00,2.00,0.00,2.00,0.00,8.00
75%,2008.00,9.00,23.00,6.00,1815.00,137.00,56.00,53.00,998.00,0.00,0.00,21.00,0.00,15.00,0.00,33.00
max,2008.00,12.00,31.00,7.00,2359.00,1091.00,2461.00,2467.00,4962.00,1.00,1.00,2436.00,1352.00,1357.00,392.00,1316.00

In [20]:
flights['ArrDelay'].describe()

count   1928371.00
mean         42.20
std          56.78
min        -109.00
25%           9.00
50%          24.00
75%          56.00
max        2461.00
Name: ArrDelay, dtype: float64

In [21]:
# dades faltants hi ha per columna
flights.isnull().sum()

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
CRSDepTime                0
UniqueCarrier             0
TailNum                   5
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
Cancelled                 0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [22]:
#Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
flights['NetDelay'] = (flights.ArrDelay-flights.DepDelay)
# considerem que arriba tard quan ho fa amb més de 15 minuts de l'horari previst
flights['Delayed'] = (flights.ArrDelay >=15).astype(int)
# km/h
flights['AvgSpeed'] = ((flights.Distance * 1.609344) / (flights.AirTime / 60))

flights[['ArrDelay','DepDelay','NetDelay','Delayed', 'AvgSpeed']].head()

   ArrDelay  DepDelay  NetDelay  Delayed  AvgSpeed
0    -14.00      8.00    -22.00        0    674.26
1      2.00     19.00    -17.00        0    692.16
2     14.00      8.00      6.00        0    654.33
3     34.00     34.00      0.00        1    645.83
4     11.00     25.00    -14.00        0    763.61

In [24]:
# Taula de les aerolínies amb més endarreriments acumulats
flights.groupby('UniqueCarrier')['ArrDelay'].sum().sort_values(ascending=False)

UniqueCarrier
WN   11319092.00
AA    8889066.00
UA    6733013.00
MQ    6396704.00
OO    5978936.00
XE    5176042.00
DL    4535644.00
CO    4045932.00
EV    3888131.00
YV    3691461.00
US    3571867.00
NW    3462075.00
FL    3100150.00
B6    3025749.00
OH    2675993.00
9E    2420468.00
AS    1406735.00
F9     788549.00
HA     255613.00
AQ      15814.00
Name: ArrDelay, dtype: float64

In [43]:
# Quins són els vols més llargs?
flights[['TailNum','Origin','Dest','AirTime']].sort_values(by='AirTime',ascending=False).head(10)

        TailNum Origin Dest  AirTime
1488690  N586HA    SEA  HNL  1091.00
1367047  N597HA    HNL  SEA   733.00
362529   N67058    EWR  HNL   664.00
556381   N66051    EWR  HNL   655.00
556385   N59053    EWR  HNL   654.00
556379   N66051    EWR  HNL   654.00
556377   N76062    EWR  HNL   652.00
556386   N78060    EWR  HNL   651.00
362852   N76055    EWR  HNL   649.00
363750   N67052    EWR  HNL   648.00

In [44]:
# I els més endarrerits?
flights[['TailNum','Origin','Dest','NetDelay']].sort_values(by='NetDelay',ascending=False).head(10)

        TailNum Origin Dest  NetDelay
1488690  N586HA    SEA  HNL    759.00
1367047  N597HA    HNL  SEA    415.00
1930131  N12318    IAH  MSP    395.00
1779939  N12934    IAH  BTR    384.00
1173580   N6700    JFK  SFO    368.00
96006    N607DL    ATL  PHX    359.00
49010    N690CA    ATL  SDF    355.00
710244   N190JB    HOU  JFK    350.00
1930014  N76288    IAH  ONT    347.00
1930140  N14335    IAH  CLE    343.00

## Exercici 3

In [47]:
#Exporta el data set net i amb les noves columnes a Excel.
#limitem exportació al máxim de files permes per Excel
flights.head(1048576).to_excel("flights_output.xlsx")
#podem exportar la totalitat en format csv
flights.to_csv("flights_output.xlsx")